@charset "UTF-8";
/*// ==========================================================================
// Foundation
// ==========================================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --fs-xs: clamp(10px, 1.3vw, 15px);
  --fs-sm: clamp(15px, 1.5vw, 19px);
  --fs-md: clamp(20px, 2vw, 24px);
  --fs-lg: clamp(25px, 2.5vw, 28px);
  --fs-xl: clamp(30px, 3vw, 40px);
}

body {
  background-color: #f0e8eb;
  padding-top: 56px;
}

body.is-show {
  opacity: 1;
}

body {
  font-family: "IBM Plex Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4d4646;
}

/*// ==========================================================================
// Layout
// ==========================================================================*/
.l-header {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ebdae0;
}
@media screen and (min-width: 768px) {
  .l-header {
    padding: 20px 50px;
  }
}

.l-main {
  margin: 48px 0 80px;
}

.l-footer {
  background-color: #5c4a54;
  color: #fff;
}

/*// ==========================================================================
// Object
// ==========================================================================*/
/*// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------*/
.c-btn--header {
  font-size: var(--fs-xs);
  font-weight: 500;
  color: white;
  background-color: #db5e6f;
  padding: 5px 13px;
  border-radius: 15px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .c-btn--header {
    font-size: var(--fs-md);
  }
}

.c-btn--close {
  font-size: 20px;
  width: 30px;
  height: 30px;
  color: gray;
  border-radius: 5px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
@media screen and (min-width: 1025px) {
  .c-btn--close {
    font-size: 50px;
    width: 60px;
    height: 60px;
  }
}

.c-btn--contact {
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 700;
  background-color: #db5e6f;
  font-size: var(--fs-sm);
  padding: 10px 0;
  border-radius: 15px;
}
@media screen and (min-width: 1025px) {
  .c-btn--contact {
    font-size: var(--fs-md);
  }
}

.c-btn--footer {
  color: #949090;
  padding: 10px 0;
  font-size: var(--fs-xs);
}
@media screen and (min-width: 1025px) {
  .c-btn--footer {
    font-size: var(--fs-md);
  }
}

.c-btn--applyButton {
  color: #fff;
  padding: 20px;
  font-size: 17px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .c-btn--applyButton {
    padding: 15px;
    font-size: var(--fs-sm);
  }
}
@media screen and (min-width: 1025px) {
  .c-btn--applyButton {
    font-size: var(--fs-md);
  }
}

.c-btn--answer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  font-size: 17px;
  line-height: 1;
  border-radius: 50%;
  color: #e9bcc2;
  border: 1px solid #e9bcc2;
}
@media screen and (min-width: 768px) {
  .c-btn--answer {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
}

.c-img--headerLogo,
.c-img--footerLogo {
  min-width: 120px;
  max-width: 130px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .c-img--headerLogo,
  .c-img--footerLogo {
    max-width: 200px;
    width: 100%;
  }
}

.c-line {
  width: 20px;
  height: 2px;
  background-color: #8a7e73;
  border: none;
}
@media screen and (min-width: 768px) {
  .c-line {
    width: 40px;
    height: 5px;
  }
}

.c-line--footer {
  border: 1px solid #afa9ac;
}

.c-text--title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.12em;
  color: #db5e6f;
}
@media screen and (min-width: 768px) {
  .c-text--title {
    font-size: 25px;
  }
}

.c-text--mainTitle {
  text-align: center;
  font-size: var(--fs-lg);
  padding: 15px 0;
}
@media screen and (min-width: 768px) {
  .c-text--mainTitle {
    font-size: var(--fs-xl);
  }
}

.c-text--titleContents {
  text-align: center;
  color: #7e7676;
  font-size: var(--fs-xs);
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .c-text--titleContents {
    font-size: var(--fs-md);
  }
}

.c-text--number {
  display: flex;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: var(--fs-md);
  background-color: #db5e6f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 1025px) {
  .c-text--number {
    width: 60px;
    height: 60px;
    font-size: var(--fs-lg);
  }
}

.c-text--plan {
  font-size: var(--fs-md);
  font-weight: 500;
}
@media screen and (min-width: 1025px) {
  .c-text--plan {
    font-size: var(--fs-lg);
  }
}

.c-text--planSection {
  text-align: center;
  font-weight: 700;
  padding-bottom: 5px;
  font-size: var(--fs-sm);
}
@media screen and (min-width: 768px) {
  .c-text--planSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
  }
}
@media screen and (min-width: 1025px) {
  .c-text--planSection {
    font-size: var(--fs-md);
    padding: 10px 0;
    height: 90px;
  }
}

.c-text--planSection.-frequency {
  height: auto;
  padding: 0;
}

.c-text--planText {
  text-align: center;
  color: #7e7676;
  font-size: var(--fs-xs);
}
@media screen and (min-width: 768px) {
  .c-text--planText {
    text-align: left;
    max-height: 90px;
    height: 100%;
    font-size: var(--fs-sm);
  }
}

.c-text--planText.-frequency {
  height: 34px;
  display: flex;
  text-align: left;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .c-text--planText.-frequency {
    font-size: var(--fs-sm);
    height: 50px;
  }
}

.c-text--price {
  font-size: var(--fs-lg);
  color: #443a32;
  font-weight: 900;
}
@media screen and (min-width: 1025px) {
  .c-text--price {
    font-size: var(--fs-xl);
  }
}

.c-text--course {
  color: #7e7676;
  font-size: var(--fs-xs);
}
@media screen and (min-width: 768px) {
  .c-text--course {
    font-size: var(--fs-sm);
  }
}
@media screen and (min-width: 1025px) {
  .c-text--course {
    font-size: var(--fs-md);
  }
}

.c-text--taxIn {
  color: #7e7676;
  font-size: var(--fs-sm);
  white-space: nowrap;
}
@media screen and (min-width: 1025px) {
  .c-text--taxIn {
    font-size: var(--fs-md);
  }
}

.c-text--detailContents {
  color: #7e7676;
  font-size: var(--fs-sm);
}
@media screen and (min-width: 1025px) {
  .c-text--detailContents {
    font-size: var(--fs-md);
  }
}

.c-text--check {
  color: #db5e6f;
}

.c-text--detailContents.-campaign {
  color: #443a32;
  font-weight: 500;
}

.c-text--recommended {
  display: inline-block;
  color: #fff;
  background-color: #db5e6f;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: var(--fs-xs);
  text-align: center;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .c-text--recommended {
    font-size: 13px;
  }
}
@media screen and (min-width: 1025px) {
  .c-text--recommended {
    font-size: var(--fs-sm);
  }
}

.c-text--recommendedFrequency {
  font-size: var(--fs-sm);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .c-text--recommendedFrequency {
    font-size: var(--fs-md);
  }
}

.c-text--optionMenu,
.c-text--optionPrice {
  font-size: var(--fs-sm);
}
@media screen and (min-width: 768px) {
  .c-text--optionMenu,
  .c-text--optionPrice {
    font-size: var(--fs-md);
  }
}

.c-text--optionPrice {
  color: #d47f8b;
  font-weight: 600;
}

.c-text--result {
  color: #e4abb2;
  font-weight: 500;
  padding-bottom: 10px;
  font-size: var(--fs-sm);
}
@media screen and (min-width: 768px) {
  .c-text--result {
    text-align: center;
  }
}
@media screen and (min-width: 1025px) {
  .c-text--result {
    font-size: var(--fs-md);
  }
}

.c-text--resultJp {
  color: #fff;
  font-weight: 700;
  font-size: var(--fs-md);
}
@media screen and (min-width: 768px) {
  .c-text--resultJp {
    text-align: center;
  }
}
@media screen and (min-width: 1025px) {
  .c-text--resultJp {
    font-size: var(--fs-lg);
  }
}

.c-text--resultLabel {
  color: #7e7676;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .c-text--resultLabel {
    font-size: var(--fs-sm);
  }
}
@media screen and (min-width: 1025px) {
  .c-text--resultLabel {
    font-size: var(--fs-md);
  }
}

.c-text--resultPlan,
.c-text--resultOption {
  color: #7e7676;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .c-text--resultPlan,
  .c-text--resultOption {
    font-size: var(--fs-xs);
  }
}
@media screen and (min-width: 1025px) {
  .c-text--resultPlan,
  .c-text--resultOption {
    font-size: var(--fs-md);
  }
}

.c-text--resultPrice,
.c-text--resultFrequency {
  color: #db5e6f;
  font-weight: 600;
  text-align: end;
}
@media screen and (min-width: 768px) {
  .c-text--resultPrice,
  .c-text--resultFrequency {
    font-size: var(--fs-sm);
  }
}
@media screen and (min-width: 1025px) {
  .c-text--resultPrice,
  .c-text--resultFrequency {
    font-size: var(--fs-md);
  }
}

.c-text--total {
  color: #db5e6f;
  font-weight: 700;
  padding-bottom: 7px;
}
@media screen and (min-width: 1025px) {
  .c-text--total {
    font-size: var(--fs-md);
  }
}

.c-text--totalPayment {
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width: 1025px) {
  .c-text--totalPayment {
    font-size: var(--fs-md);
  }
}

.c-text--totalPrice {
  font-size: 40px;
  font-weight: 900;
  font-family: "Arial Black", sans-serif;
  color: #be4e5d;
}
@media screen and (min-width: 768px) {
  .c-text--totalPrice {
    font-size: var(--fs-lg);
  }
}
@media screen and (min-width: 1025px) {
  .c-text--totalPrice {
    font-size: var(--fs-xl);
  }
}

@media screen and (min-width: 1025px) {
  .c-text--totalTax {
    font-size: var(--fs-md);
  }
}

.c-text--faqSubTitle {
  color: #db5e6f;
  font-size: var(--fs-md);
  font-weight: 500;
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .c-text--faqSubTitle {
    font-size: var(--fs-lg);
  }
}

.c-text--faqTitleContents {
  font-size: var(--fs-xs);
  color: #7e7676;
}
@media screen and (min-width: 768px) {
  .c-text--faqTitleContents {
    font-size: var(--fs-sm);
  }
}

.c-text--faq {
  color: #e596a1;
  font-weight: 700;
  padding-right: 10px;
}

.c-text--footerContents {
  font-size: 13px;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .c-text--footerContents {
    font-size: var(--fs-sm);
  }
}
@media screen and (min-width: 1025px) {
  .c-text--footerContents {
    font-size: var(--fs-md);
  }
}

.c-text--footer {
  padding: 15px 0 0;
  color: #afa9ac;
  font-size: var(--fs-xs);
}
@media screen and (min-width: 768px) {
  .c-text--footer {
    font-size: var(--fs-md);
    padding: 30px 0 0;
  }
}

/*// -----------------------------------------------------------------
// Project
// -----------------------------------------------------------------*/
.p-applyWrap {
  margin: 30px 30px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #db5e6f;
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .p-applyWrap {
    margin: 20px 0 0;
  }
}
@media screen and (min-width: 1025px) {
  .p-applyWrap {
    margin: 50px 0 0;
  }
}
.p-applyWrap:hover {
  opacity: 0.6;
}

.p-faqWrap {
  background-color: #eecfda;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .p-faqWrap {
    padding: 50px;
  }
}

.p-faqMainTitle {
  color: #7e7676;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .p-faqMainTitle {
    font-size: var(--fs-xl);
  }
}

.p-faq {
  width: 100%;
}

.p-faqTab {
  margin: 15px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .p-faqTab {
    gap: 40px;
  }
}

.p-faqTab__button {
  background-color: #fff;
  color: #7e7676;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: var(--fs-xs);
  border: 1px solid #cec6c6;
}
@media screen and (min-width: 768px) {
  .p-faqTab__button {
    font-size: var(--fs-md);
    padding: 20px 30px;
  }
}

.p-faqTab__button.is-selected {
  background-color: #e08f9a;
  color: #fff;
  border: none;
}

.p-faqList {
  display: flex;
  flex-direction: column;
}

.p-faqItem {
  border-bottom: 1px solid #e9bcc2;
  padding: 15px 0;
}
@media screen and (min-width: 1025px) {
  .p-faqItem {
    padding: 30px 0;
  }
}
.p-faqItem:first-child {
  border-top: 1px solid #e9bcc2;
}

.p-faqQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.p-faqQuestion,
.p-faqAnswer {
  font-size: var(--fs-xs);
}
@media screen and (min-width: 768px) {
  .p-faqQuestion,
  .p-faqAnswer {
    font-size: var(--fs-md);
  }
}

.p-faqQuestion__text {
  flex: 1;
}

.p-faqContents {
  display: none;
}

.p-faqContents.is-show {
  display: block;
}

.p-faqAnswer {
  margin: 20px 0 0 27.14px;
  display: none;
}

.p-faqAnswer.is-open {
  display: block;
}

.p-footerMenu__wrap {
  padding: 64px 30px 32px;
}
@media screen and (min-width: 768px) {
  .p-footerMenu__wrap {
    padding: 64px 50px 32px;
  }
}

.p-footerMenu__navSp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .p-footerMenu__navSp {
    display: none;
  }
}

.p-footerMenu__navPc {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-footerMenu__navPc {
    display: flex;
    align-items: flex-start;
    margin: 50px auto;
    gap: 90px;
  }
}

.p-footerMenu {
  margin-top: 40px;
}
.p-footerMenu:first-child {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .p-footerMenu {
    margin: 0;
  }
  .p-footerMenu:first-child {
    margin: 0;
  }
}

.p-footerMenu__title {
  font-size: var(--fs-sm);
  display: flex;
}
@media screen and (min-width: 768px) {
  .p-footerMenu__title {
    font-size: var(--fs-md);
  }
}

.p-footerMenu__list {
  font-size: var(--fs-xs);
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .p-footerMenu__list {
    font-size: var(--fs-sm);
  }
}

.p-footerMenu__item {
  padding-top: 10px;
}

.p-frequencyBox__wrap {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .p-frequencyBox__wrap {
    gap: 15px;
    margin: 20px;
  }
}

.p-frequencyBox {
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-frequencyBox {
    padding: 20px 10px;
    min-width: 100px;
  }
}

.p-frequencyBox.is-selected {
  background-color: #e08f9a;
}

.p-frequencyBox.is-selected .c-text--planSection,
.p-frequencyBox.is-selected .c-text--planText {
  color: #fff;
}

.p-headerMenu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.p-hamburgerMenu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .p-hamburgerMenu {
    gap: 5px;
  }
}

.p-hamburgerMenu__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .p-hamburgerMenu__header {
    padding: 25px;
  }
}
.p-hamburgerMenu__header::after {
  content: "";
  display: block;
  width: calc(100% + 30px);
  height: 1px;
  background-color: #bebbbd;
  transform: scaleY(0.5);
  margin: 20px -15px 0;
}

.p-hamburgerMenu__body {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75vw;
  max-width: 320px;
  height: 100vh;
  background-color: #f1eef0;
  z-index: 1100;
  transition: right 0.3s ease;
}
.p-hamburgerMenu__body.is-open {
  right: 0;
}
@media screen and (min-width: 768px) {
  .p-hamburgerMenu__body {
    max-width: 500px;
  }
}

.p-hamburgerMenu__list {
  padding: 20px 15px 0;
}
@media screen and (min-width: 768px) {
  .p-hamburgerMenu__list {
    padding: 20px 25px 0;
  }
}
.p-hamburgerMenu__list::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #bebbbd;
  transform: scaleY(0.5);
  margin: 20px 0;
}

.p-hamburgerMenu__item {
  padding: 10px 0;
  font-size: var(--fs-sm);
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .p-hamburgerMenu__item {
    font-size: var(--fs-md);
  }
}

.p-hamburgerMenu__footer {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .p-hamburgerMenu__footer {
    padding: 0 25px;
  }
}

.p-hamburgerMenu__contactWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.p-optionBox {
  display: flex;
  align-items: center;
  background-color: #f5f3f7;
  border: 2px solid #f1d5dc;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
}
.p-optionBox:last-child {
  margin-bottom: 0;
}

.p-optionBox.is-selected {
  border-color: #db5e6f;
  background-color: #f5eff0;
}

.p-optionBox.is-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.p-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.p-optionBox__input {
  display: none;
}

.p-optionBox__check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  flex-shrink: 0;
  margin-right: 5px;
}

.p-optionBox__input:checked + .p-optionBox__check {
  background-color: #db5e6f;
  border-color: #db5e6f;
}
.p-optionBox__input:checked + .p-optionBox__check::after {
  content: "✔";
  font-size: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-planBox {
  padding: 25px;
  border: 2px solid #f1d5dc;
  background-color: #f5f3f7;
  border-radius: 15px;
  display: block;
  margin-bottom: 30px;
  position: relative;
}
.p-planBox:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .p-planBox {
    margin-right: 10px;
    margin-bottom: 0;
    padding: 20px 15px 50px;
    flex: 1;
    min-width: 0;
  }
  .p-planBox:last-child {
    margin-right: 0;
  }
}

.p-planBox--light {
  margin-bottom: 37.5px;
}
@media screen and (min-width: 768px) {
  .p-planBox--light {
    margin-bottom: 0;
  }
}

.p-planBox.is-selected {
  border-color: #db5e6f;
  background-color: #f5eff0;
}

.p-plan__detailWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.p-plan__detail {
  display: flex;
  gap: 10px;
}

.p-planBox__recommendedWrap {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: -20px;
}
@media screen and (min-width: 768px) {
  .p-planBox__recommendedWrap {
    top: -20px;
  }
}

.p-plan__detail.-campaign {
  background-color: #f3e9bd;
  border-radius: 15px;
  margin: 0 -10px;
  padding: 8px 10px;
}

.p-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.p-price::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #bebbbd;
  transform: scaleY(0.5);
  margin: 20px 0;
}

.p-result__wrap {
  margin: 0 30px;
  background-color: #f5f3f7;
  border-radius: 15px;
  border: 1px solid #db5e6f;
}
@media screen and (min-width: 768px) {
  .p-result__wrap {
    margin: 0;
  }
}

.p-result__title {
  background-color: #db5e6f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .p-result__title {
    padding: 20px 15px;
  }
}

.p-result {
  padding: 20px;
}

.p-resultBox {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.p-resultBox:last-child {
  margin-bottom: 0;
}

.p-resultRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-result__totalWrap {
  background-color: #ebdae0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .p-simulation {
    display: flex;
    position: relative;
    margin: 48px 0;
    gap: 15px;
  }
}
@media screen and (min-width: 1025px) {
  .p-simulation {
    margin: 48px 50px;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .p-simulation__contents {
    width: 65%;
  }
}

@media screen and (min-width: 768px) {
  .p-simulation__result {
    display: flex;
    flex-direction: column;
    width: 35%;
    position: sticky;
    top: 72px;
    align-self: flex-start;
    margin: 0 20px 0 0;
  }
}

.p-stepWrap {
  margin: 48px 30px;
}
@media screen and (min-width: 768px) {
  .p-stepWrap {
    margin: 0 0 50px 30px;
  }
  .p-stepWrap:first-child {
    margin-top: 0;
  }
  .p-stepWrap:last-child {
    margin: 50px 0 0 30px;
  }
}

@media screen and (min-width: 768px) {
  .p-stepWrap__tab {
    display: flex;
    margin-bottom: 50px;
  }
}

.p-stepWrap__frequency {
  background-color: #eecfda;
  padding: 48px 30px;
}
@media screen and (min-width: 768px) {
  .p-stepWrap__frequency {
    padding: 48px 15px;
    border-radius: 15px;
    margin-left: 15px;
  }
}

.p-step {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.p-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}
@media screen and (min-width: 768px) {
  .p-title {
    padding: 30px 25px;
  }
}

/*// -----------------------------------------------------------------
// Utility
// -----------------------------------------------------------------*/
.u-tabOnly {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-tabOnly {
    display: inline;
  }
}
@media screen and (min-width: 1025px) {
  .u-tabOnly {
    display: none;
  }
}

.u-tabOnly__plan {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-tabOnly__plan {
    display: inline;
  }
}

.u-marginBottom {
  margin-bottom: 5px;
}

.u-marginRight10 {
  margin-right: 10px;
}

@media screen and (min-width: 1025px) {
  .u-margin--20 {
    margin: 0 20px;
  }
}/*# sourceMappingURL=style.css.map */