@use '../../foundation/mixin' as *;

.c-btn--header {
  font-size: 12px;
  font-weight: 500;
  color: white;
  background-color: #db5e6f;
  padding: 5px 13px;
  border-radius: var(--border-radius);
  cursor: pointer;

  @include tab {
    font-size: 18px;
    padding: 10px 24px;
  }
}

.c-btn--close {
  font-size: 25px;
  width: 30px;
  height: 30px;
  color: gray;
  border-radius: 5px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  @include tab {
    width: 40px;
    height: 40px;
    font-size: 30px;
  }

  @include pc {
    font-size: 50px;
    width: 60px;
    height: 60px;
  }
}

.c-btn--contact {
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 700;
  background-color: #db5e6f;
  font-size: 17px;
  padding: 14px 24px;
  border-radius: var(--border-radius);
}

.c-btn--footer {
  color: #949090;
  padding: 10px 0;
}

.c-btn--applyButton {
  color: #fff;
  padding: 20px;
  font-size: 16px;
  font-weight: 700;

  @include tab {
    font-size: 18px;
    padding: 30px;
  }
}

.c-btn--answer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 0;
  font-size: 17px;
  line-height: 1;
  border-radius: 50%;
  color: #e9bcc2;
  border: 1px solid #e9bcc2;
}

.c-btn--answer.is-open {
  color: #e08f9a;
  border-color: #e08f9a;
  background-color: #ebc6cb;
}