@use '../../foundation/mixin' as *;

.c-img--headerLogo,
.c-img--footerLogo {
  min-width: 120px;
  max-width: 130px;
  width: 100%;
  object-fit: cover;

  @include pc {
    max-width: 200px;
    width: 100%;
  }
}