@use '../../foundation/mixin' as *;

.c-line {
  width: 20px;
  height: 2px;
  background-color: #8a7e73;
  border: none;

  @include tab {
    width: 40px;
    height: 5px;
  }
}

.c-line--footer {
  border: 1px solid #afa9ac;
}