@use '../../foundation/mixin' as *;

.c-text--title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: .12em;
  color: #db5e6f;

  @include pc{
    font-size: 25px;
  }
}

.c-text--mainTitle {
  text-align: center;
  font-size: var(--fs-lg);
  padding: 15px 0;

  @include pc {
    font-size: var(--fs-xl);
  }
}

.c-text--titleContents {
  text-align: center;
  color: #7e7676;
  font-size: var(--fs-xs);
  line-height: 1.5;

  @include pc {
    font-size: var(--fs-md);
  }
}

.c-text--number {
  display: flex;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: var(--fs-md);
  background-color: #db5e6f;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  @include pc {
    font-size: var(--fs-lg);
    width: 60px;
    height: 60px;
  }
}

.c-text--plan {
  font-size: var(--fs-md);
  font-weight: 500;

  @include pc {
    font-size: var(--fs-lg);
  }
}

.c-text--planSection {
  text-align: center;
  font-weight: 700;
  padding-bottom: 5px;
  font-size: var(--fs-sm);

  @include pc{
    font-size: var(--fs-lg);
  }
}

.c-text--planText {
  text-align: center;
  color: #7e7676;
  font-size: var(--fs-xs);

  @include pc {
    font-size: var(--fs-sm);
  }
}

.c-text--planText.-frequency {
  height: 34px;
  display: inline-block;
  text-align: left;

  @include pc {
    white-space: nowrap;
  }
}

.c-text--price {
  font-size: var(--fs-lg);
  color: #443a32;
  font-weight: 900;

  @include pc {
    font-size: var(--fs-xl);
  }
}

.c-text--course,
.c-text--taxIn {
  color: #7e7676;
  font-size: var(--fs-xs);

  @include pc{
    font-size: var(--fs-md);
  }
}

.c-text--detailContents {
  color: #7e7676;
  font-size: var(--fs-sm);

  @include pc {
    font-size: var(--fs-md);
  }
}

.c-text--check {
  color: #db5e6f;
}

.c-text--detailContents.-campaign {
  color: #443a32;
  font-weight: 500;
}

.c-text--recommended {
  display: inline-block;
  color: #fff;
  background-color: #db5e6f;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: var(--fs-xs);
  text-align: center;

  @include pc{
    font-size: var(--fs-md);
  }
}

.c-text--recommendedFrequency {
  font-size: var(--fs-sm);
  text-align: center;

  @include pc{
    font-size: var(--fs-md);
  }
}

.c-text--optionMenu,
.c-text--optionPrice {
  font-size: var(--fs-sm);

  @include pc{
    font-size: var(--fs-md);
  }
}

.c-text--optionPrice {
  color: #d47f8b;
  font-weight: 600;
}

.c-text--result {
  color: #e4abb2;
  font-weight: 500;
  padding-bottom: 10px;
  font-size: var(--fs-sm);
}

.c-text--resultJp {
  color: #fff;
  font-weight: 700;
  font-size: var(--fs-md);
}

.c-text--resultLabel {
  color: #7e7676;
  font-weight: 500;

  @include pc{
    font-size: var(--fs-md);
  }
}

.c-text--resultPlan,
.c-text--resultOption {
  color: #7e7676;
  font-weight: 600;

  @include pc{
    font-size: var(--fs-md);
  }
}

.c-text--resultPrice,
.c-text--resultFrequency {
  color: #db5e6f;
  font-weight: 600;

  @include pc{
    font-size: var(--fs-md);
  }
}

.c-text--total {
  color: #db5e6f;
  font-weight: 700;
  padding-bottom: 7px;
}

.c-text--totalPayment {
  font-size: 16px;
  font-weight: 700;
}

.c-text--totalPrice {
  font-size: 40px;
  font-weight: 900;
  font-family:  "Arial Black", sans-serif;
  color: #be4e5d;
}

.c-text--faqSubTitle {
  color: #db5e6f;
  font-size: var(--fs-md);
  font-weight: 500;
  padding-bottom: 5px;

  @include pc {
    font-size: var(--fs-lg);
  }
}

.c-text--faqTitleContents {
  font-size: var(--fs-xs);
  color: #7e7676;

  @include pc {
    font-size: var(--fs-sm);
  }
}

.c-text--faq {
  color: #e596a1;
  font-weight: 700;
  padding-right: 10px;
}

.c-text--footerContents {
  font-size: 13px;
  padding-top: 10px;

  @include pc {
    font-size: 25px;
  }
}

.c-text--footer {
  padding: 15px 0 0;
  color: #afa9ac;
  font-size: var(--fs-xs);

  @include pc {
    font-size: var(--fs-md);
    padding: 30px 0 0;
  }
}