@use '../foundation/mixin' as *;

.l-header {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f0e8eb;

  @include tab  {
    padding: 15px 30px;
  }
}