@use '../../foundation/mixin' as *;

.p-applyWrap {
  margin: 16px 13px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #db5e6f;
  border-radius: var(--border-radius);

  @include tab {
    margin: 20px 0 0;
  }

  @include pc {
    margin: 50px 0 0;
  }

  &:hover {
    opacity: 0.6;
  }
}