.p-faqWrap {
  background-color: #eecfda;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-faqTab {
  margin: 15px;
  display: flex;
  gap: 15px;
}

.p-faqTab__button {
  background-color: #fff;
  color: #7e7676;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: clamp(10px, 3.5vw, 15px);
  border: 1px solid #cec6c6;
}

.p-faqTab__button.is-selected {
  background-color: #e08f9a;
  color: #fff;
  border: none;
}