@use '../../foundation/mixin' as *;

.p-footerMenu__wrap {
  @include pc {
    display: flex;
    align-items: flex-start;
  }
}

.p-footerMenu__navSp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 48px;

  @include tab {
    display: none;
  }
}

.p-footerMenu__navTab {
  display: none;

  @include tab {
    display: flex;
    align-items: flex-start;
    margin: 50px auto;
    gap: 48px;
  }

  @include pc {
    margin-top: 0;
  }
}

.p-footerMenu{
  margin-top: 40px;

  &:first-child {
    margin-top: 60px;
  }

  @include tab {
    margin: 0;

    &:first-child {
      margin: 0;
    }
  }
}

.p-footerMenu__title {
  font-size: 12px;
  display: flex;
}

.p-footerMenu__list {
  display: flex;
  flex-direction: column;
}

.p-footerMenu__item {
  padding-top: 12px;
}