.p-footerMenu__wrap {
  padding: 64px 15px 32px;
}

.p-footerMenu__nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

.p-footerMenu{
  margin-top: 40px;

  &:first-child {
    margin-top: 60px;
  }
}

.p-footerMenu__title {
  font-size: var(--fs-sm);
  display: flex;
}

.p-footerMenu__list {
  font-size: var(--fs-xs);
  display: flex;
  flex-direction: column;
}

.p-footerMenu__item {
  padding-top: 10px;
}