@use '../../foundation/mixin' as *;

.p-frequencyBox__wrap {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  @include pc {
    gap: 30px;
    margin: 20px;
  }
}

.p-frequencyBox {
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include pc{
    padding: 30px 10px;
    min-width: 160px;
  }
}

.p-frequencyBox.is-selected {
  background-color: #e08f9a;
}

.p-frequencyBox.is-selected .c-text--planSection,
.p-frequencyBox.is-selected .c-text--planText {
  color: #fff;
}
