@use '../../foundation/mixin' as *;

.p-hamburgerMenu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;

  @include tab {
    gap: 5px;
  }

  &:hover {
    background-color: rgba(138, 126, 115, 0.25);
    opacity: 0.7;
    border-radius: 10px;
  }

  @include pc {
    display: none;
  }
}

.p-hamburgerMenu__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 15px;

  @include tab {
    margin: 15px 30px;
  }

  &::after {
    content: "";
    display: block;
    width: calc(100% + 30px);
    height: 1px;
    background-color: #bebbbd;
    transform: scaleY(0.5);
    margin: 15px -15px 0;

    @include tab {
      margin: 20px -15px 0;
    }
  }
}

.p-hamburgerMenu__body {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75vw;
  max-width: 320px;
  height: 100vh;
  background-color: #f1eef0;
  z-index: 1100;
  transition: right 0.3s ease;

  &.is-open {
    right: 0;
  }

  @include tab {
    max-width: 500px;
  }
}

.p-hamburgerMenu__list {
  margin: 20px 15px 0;

  @include tab {
    margin: 20px 25px 0;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #bebbbd;
    transform: scaleY(0.5);
    margin: 20px 0;
  }
}

.p-hamburgerMenu__item {
  padding: 10px 0;
  font-size: 15px;
  font-weight: 500;

  @include tab {
    font-size: 23px;
  }
}

.p-hamburgerMenu__footer {
  margin: 0 15px;
  display: flex;
  flex-direction: column;

  @include tab {
    margin: 0 25px;
  }
}

.p-hamburgerMenu__contactWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}