@use '../../foundation/mixin' as *;

.p-headerMenu {
  display: flex;
  align-items: center;
  gap: 10px;

  @include tab {
    gap: 12px;
  }

  @include pc {
    gap: 45px;
  }
}

.p-headerMenu__list {
  display: none;

  @include pc {
    display: flex;
    gap: 32px;
  }
}