@use '../../foundation/mixin' as *;

.p-optionBox {
  display: flex;
  align-items: center;
  background-color: #f5f3f7;
  border: 2px solid #f1d5dc;
  border-radius: 15px;
  padding: 16px;

  @include tab {
    height: 89px;
  }
}

.p-optionBox.is-selected {
  border-color: #db5e6f;
  background-color: #f5eff0;
}

.p-optionBox.is-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.p-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.p-optionBox__input {
  display: none;
}

.p-optionBox__check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  flex-shrink: 0;
  margin-right: 10px;

  @include pc {
    width: 25px;
    height: 25px;
  }
}

.p-optionBox__input:checked + .p-optionBox__check {
  background-color: #db5e6f;
  border-color: #db5e6f;

  &::after {
    content: "✔";
    font-size: 11px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.p-optionBox__wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include tab {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}