@use '../../foundation/mixin' as *;

.p-planBox {
  padding: 24px;
  border: 2px solid #f1d5dc;
  background-color: #f5f3f7;
  border-radius: 15px;
  display:flex;
  flex-direction:column;
  margin-bottom: 30px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @include tab {
    margin-right: 16px;
    margin-bottom: 0;
    flex: 1;
    min-width: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.p-planBox--light {
  margin-bottom: 37.5px;

  @include tab {
    margin-bottom: 0;
  }
}

.p-planBox.is-selected {
  border-color: #db5e6f;
  background-color: #f5eff0;
}

.p-plan__detailWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.p-plan__detail {
  display: flex;
  gap: 10px;
}

.p-planBox__recommendedWrap {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: -20px;
}

.p-plan__detail.-campaign {
  background-color: #f3e9bd;
  border-radius: 15px;
  padding: 8px 10px;
}