@use '../../foundation/mixin' as *;

.p-result__wrap {
  margin: 0 15px;
  background-color: #f5f3f7;
  border-radius: 15px;
  border: 1px solid #db5e6f;

  @include pc{
    margin: 0 50px;
  }
}

.p-result__title {
  background-color: #db5e6f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
  padding: 20px 0;
}

.p-result {
  padding: 20px;
}

.p-resultBox {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 0;
  }
}

.p-resultRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-result__totalWrap {
  background-color: #ebdae0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}