@use '../../foundation/mixin' as *;

.p-simulation {
  @include tab {
    display: flex;
    position: relative;
    margin: 0 32px 80px;
    gap: 24px;
  }

  @include pc {
    margin: 48px 42px;
    gap: 32px;
  }
}

.p-simulation__contents {
  @include tab {
    width: 65%;
  }
}

.p-simulation__result {
  @include tab {
    display: flex;
    flex-direction: column;
    width: 35%;
    position: sticky;
    top: 72px;
    align-self: flex-start;
  }
}