@use '../../foundation/mixin' as *;

.p-stepWrap {
  margin: 48px 30px;

  @include tab {
    margin: 0 0 50px 30px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin: 50px 0 0 30px;
    }
  }
}

.p-stepWrap__tab {
  @include tab {
    display: flex;
    margin-bottom: 50px;
  }
}

.p-stepWrap__frequency {
  background-color: #eecfda;
  padding: 48px 30px;

  @include tab {
    padding: 48px 15px;
    border-radius: 15px;
    margin-left: 15px;
  }
}

.p-step {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}