@use '../../foundation/mixin' as *;

.p-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 13px;

  @include tab {
    margin: 0 32px 32px;
  }
}