@use '../../foundation/mixin' as *;

.p-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 10px;

  @include tab {
    margin: 0 40px 40px;
  }
}