@use '../../foundation/mixin' as *;

.p-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;

  @include tab {
    padding: 30px 25px;
  }
}