@use '../../foundation/mixin' as *;

.u-tabOnly {
  display: none;

  @include tab {
    display: inline;
  }

  @include pc {
    display: none;
  }
}

.u-tabOnly__plan {
  display: none;

  @include tab {
    display: inline;
  }

  @include pc {
    display: none;
  }
}

.u-tabOnly__titleText {
  display: inline;

  @include tab {
    display: none;
  }
}